//--- Project breakpoint aliases ---//
$blueq-breakpoints: (
  xxs: 240px,
  xs: 320px,
  s: 480px,
  m: 600px,
  l: 768px,
  xl: 1024px,
  xxl: 1200px,
  xxxl: 1300px,
);

//--- Colour variables ---//
$white: #FFF;
$off-white: #F4F4F4;
$light-grey: #EEEEEE;
$grey: #C1C1C1;
$medium-grey: #797979;
$dark-grey: #333;

//--- Assign commonly used theme colour variables to alternative names for easier re-theming down the line ---//
$color-brand-primary: $dark-grey;
$color-brand-secondary: $light-grey;
$color-border: $grey;
$color-headings: $medium-grey;
