{% extends 'layouts/empty.njk' %}

{% block stylesheets %}
  <link rel="stylesheet" media="screen" href="/assets/css/app.css">
  <link rel="stylesheet" media="print" href="/assets/css/print.css">
{% endblock %}

{% block oldie %}
  <script src="/assets/scripts/html5shiv.min.js"></script>
  <script src="/assets/scripts/respond.min.js"></script>
{% endblock %}

{% block scripts %}
  <script src="/assets/scripts/app.js"></script>
{% endblock %}
